@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');

.quoteWrapper {
    width: 100%;
    height: 330px;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .3;
        background-image: url('../../assets/building-background.png');
        background-position: 25% 45%;
    }
    &::after {
        position: absolute;
        right: 15%;
        bottom: 15%;
        font-size: 120px;
        color: gray;
        font-family: 'Qwitcher Grypen', cursive;
        content: 'Oswald';
        z-index: 1;
    }
    
    .contentWrapper {
        position: relative;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        // z index is required so the signature appears under the other text
        z-index: 2;

    }
    
    blockquote {
        width: 50%;
        font-size: 36px;
        text-align: right;
    }
    
    .author {
        width: 50%;
        display: flex;
        align-items: center;
    }
    .founderName {
        margin-left: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            margin: 0;
            font-size: 28px;
            font-weight: 500;
        }
        span {
            color: #757575;
            text-transform: uppercase;
        }
    }
}