.teamWrapper {
    width: 100%;
    height: 100vh;
    background: #eeeeee;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
        
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .1;
        background-image: url('../../assets/building-background.png');
        background-position: 45% 13%;
        z-index: 1;
    }
}

.portraits {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    
    > * {
        transition: transform 1s ease;
    }
}

#portraits1 {
    > * {
        transform: translateX(-500%);
    }
}

.teamPageNav {
    z-index: 3;
    display: flex;
    margin-bottom: 80px;
    button {
        background-image: url('../../assets/icons/black-circle.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20%;
        height: 30px;
        width: 30px;
        border: 2px #00000000 solid;
        border-radius: 50%;
        margin: 5px;
        &:hover {
            border: 2px #00000060 solid;
        }
    }
    .active {
        border: 2px #000000 solid;
        &:hover {
            border: 2px #000000 solid;
            cursor: default;
        }
    }
}