.navbarWrapper {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
}
.logo > img {
    height: 100%;
}

.main {
    display: flex;
}

.navButton {
    height: 80%;
    display: flex;
    align-items: center;
    margin: 15px;
}

.main > .navButton > img {
    height: 10px;
    margin: 5px;
}

.menu {
    display: flex;
}

.left {
    display: flex;
}

.left > .navButton > img, .right > .navButton > img {
    height: 20px;
    margin: 5px;

}

